/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}
/* Fuentes */
@font-face {
    font-family: "Adigiana Toybox";
    src: url("../webfonts/Adigiana-Toybox-Regular/AdigianaUI.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../webfonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "Young Serif";
    src: url("../webfonts/Young_Serif/YoungSerif-Regular.ttf");
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
a {
    text-decoration: none;
    color: #007BFF;
}
h1, h2, h3 {
    font-family: "Adigiana Toybox";
}
header > p {
    font-family: "Young Serif";
    text-align: justify;
}
/* Estilos de la cabecera */
.cabecera {
    font-family: "Adigiana Toybox";
    background-image: url("../images/Cabezera_background5.jpg");
    background-size: cover;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.logo {
    display: flex;
    justify-content: space-around;
}
.logo img {
    max-height: 70pt;
    border-radius: 50%;
}
.logo h1 {
    color: yellow;
    text-shadow: 3px 3px blue;
    font-size: 35pt;
    text-align: center;
    margin: auto;
    vertical-align: top;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
nav ul li a {
    font-size: 25px;
    text-shadow: 3px 3px yellow;
}

/* Estilos de las secciones */
section {
    background-image: url("../images/FondoPrincipal.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.btn-cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
/* Estilos del pie de página */
footer {
    width: 100%;
    font-family: "Adigiana Toybox";
    font-size: larger;
    text-align: center;
    background-color: #333;
    color:#fff
}
footer > p.geolocation a {
    display: inline-flex;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}
.icon {
    max-height: 25px;
}

